<!DOCTYPE html>
<html>

<head>

    <title>EcoVida | Reportes</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2>EcoVida</h2>

        <div class="menu">

            <a href="/">
                <div class="menu-item">
                    Dashboard
                </div>
            </a>

            <a href="/listar_reportes">
                <div class="menu-item active">
                    Reportes
                </div>
            </a>

            <a href="{{ url_for('sensores.listar_sensores') }}">
                <div class="menu-item">
                    Sensores
                </div>
            </a>

            <a href="{{ url_for('alertas.listar_alertas') }}">
                <div class="menu-item">
                    Alertas
                </div>
            </a>

            <a href="{{ url_for('configuraciones.configuracion') }}">
                <div class="menu-item">
                    Configuración
                </div>
            </a>

            <a href="/listar_servicios">
                <div class="menu-item">
                    Servicios TI
                </div>
            </a>

            <a href="/logout" style="color:#f87171;">
                <div class="menu-item" style="margin-top:50px;">
                    Cerrar Sesión
                </div>
            </a>

        </div>

    </div>

    <!-- CONTENIDO -->

    <div class="main">

        <h1>Gestión de Reportes</h1>

        <br>

        <a href="/crear_reporte" class="btn">
            Crear Reporte
        </a>

        <br><br>

        <table>

            <tr>

                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Acciones</th>

            </tr>

            {% for r in reportes %}

            <tr>

                <td>{{ r.id }}</td>
                <td>{{ r.nombre }}</td>
                <td>{{ r.fecha }}</td>

                <td>

                    <a href="/editar_reporte/{{ r.id }}">
                        Editar
                    </a>

                    |

                    <form method="POST"
                          action="/eliminar_reporte/{{ r.id }}"
                          style="display:inline;">

                        <button type="submit">
                            Eliminar
                        </button>

                    </form>

                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>

</html>