<!DOCTYPE html>
<html>

<head>

    <title>EcoVida | Sensores</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="layout">

    <div class="sidebar">

        <h2>EcoVida</h2>

        <div class="menu">

            <a href="/">
                <div class="menu-item">
                    Dashboard
                </div>
            </a>

            <a href="/listar_reportes">
                <div class="menu-item">
                    Reportes
                </div>
            </a>

            <a href="/listar_sensores">
                <div class="menu-item active">
                    Sensores
                </div>
            </a>

            <a href="/listar_alertas">
                <div class="menu-item">
                    Alertas
                </div>
            </a>

            <a href="/listar_configuraciones">
                <div class="menu-item">
                    Configuración
                </div>
            </a>

            <a href="/listar_servicios">
                <div class="menu-item">
                    Servicios TI
                </div>
            </a>

            <a href="/logout" style="color:#f87171;">
                <div class="menu-item" style="margin-top:50px;">
                    Cerrar Sesión
                </div>
            </a>

        </div>

    </div>

    <div class="main">

        <h1>Gestión de Sensores</h1>

        <br>

        <a href="/crear_sensor" class="btn">
            Crear Sensor
        </a>

        <br><br>

        <table>

            <tr>

                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Ubicación</th>
                <th>Acciones</th>

            </tr>

            {% for s in sensores %}

            <tr>

                <td>{{ s.id }}</td>
                <td>{{ s.nombre }}</td>
                <td>{{ s.tipo }}</td>
                <td>{{ s.ubicacion }}</td>

                <td>

                    <a href="/editar_sensor/{{ s.id }}">
                        Editar
                    </a>

                    |

                    <form method="POST"
                          action="/eliminar_sensor/{{ s.id }}"
                          style="display:inline;">

                        <button type="submit">
                            Eliminar
                        </button>

                    </form>

                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>

</html>